#{extends 'main.html' /}
#{set title:messages.get('title.knowledge.create') /}

%{
    Long userId = (session.get('user.id')) ? Long.parseLong(session.get('user.id')) : null;
}%

<fieldset>
    <legend>&{'title.knowledge.create'}</legend>

    <form class="form-horizontal save-knowledge" action="@{KnowledgeController.saveKnowledge()}" method="POST">
        <input name="userId" type="hidden" value="${userId}">
        <input name="tagIds" type="hidden">

        <div class="control-group#{ifError 'title'} error#{/ifError}">
            <label class="control-label required" for="title">&{'knowledge.title'}</label>
            <div class="controls">
                <input id="title" class="input-xxlarge" name="title" type="text" value="${flash.title}" placeholder="&{'knowledge.title'}">
                #{ifError 'title'}
                    <span class="help-inline">#{error 'title' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'description'} error#{/ifError}">
            <label class="control-label required" for="description">&{'knowledge.description'}</label>
            <div class="controls">
                <textarea id="description" class="input-xxlarge" name="description" placeholder="&{'knowledge.description'}">${flash.description}</textarea>
                #{ifError 'description'}
                    <span class="help-inline">#{error 'description' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'tagIds'} error#{/ifError}">
            <label class="control-label required" for="inputTag">&{'knowledge.tags'}</label>
            <div class="controls">
                <div class="input-xxlarge tags#{ifError 'tagIds'} error#{/ifError}">
                    <span class="selectedTags"></span>
                    <input id="inputTag" class="input-xxlarge input-tag" type="text" placeholder="&{'knowledge.tags'}">
                    <div class="suggestions"></div>
                </div>
                #{ifError 'tagIds'}
                    <span class="help-inline">#{error 'tagIds' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">&{'button.create'}</button>
                #{backButton /}
            </div>
        </div>
    </form>
</fieldset>