#{extends 'main.html' /}
#{set title:messages.get('title.knowledge.edit') /}

%{
    Long userId = (session.get('user.id')) ? Long.parseLong(session.get('user.id')) : null;
}%

<fieldset>
    <legend>&{'title.knowledge.edit'}</legend>

    <form id="form" class="form-horizontal" action="@{KnowledgeController.saveKnowledge()}" method="POST">
        <input name="knowledgeId" type="hidden" value="${knowledge.id}">
        <input name="userId" type="hidden" value="${userId}">
        <input name="tagIds" type="hidden">

        <div class="control-group#{ifError 'title'} error#{/ifError}">
            <label class="control-label required" for="title">&{'knowledge.title'}</label>
            <div class="controls">
                <input id="title" class="input-xxlarge" name="title" type="text" value="${knowledge.title}" placeholder="&{'knowledge.title'}">
                #{ifError 'title'}
                    <span class="help-inline">#{error 'title' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'description'} error#{/ifError}">
            <label class="control-label required" for="description">&{'knowledge.description'}</label>
            <div class="controls">
                <textarea id="description" class="input-xxlarge" name="description" placeholder="&{'knowledge.description'}">${knowledge.description}</textarea>
                #{ifError 'description'}
                    <span class="help-inline">#{error 'description' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'tagIds'} error#{/ifError}">
            <label class="control-label required" for="inputTag">&{'knowledge.tags'}</label>
            <div class="controls">
                <div class="input-xxlarge tags#{ifError 'tagIds'} error#{/ifError}">
                    <span class="selectedTags"></span>
                    <input id="inputTag" class="input-xxlarge input-tag" type="text" placeholder="&{'knowledge.tags'}">
                    <div class="suggestions"></div>
                </div>
                #{ifError 'tagIds'}
                    <span class="help-inline">#{error 'tagIds' /}</span>
                #{/ifError}
            </div>
        </div>

        <div id="suggestions"></div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">&{'button.save'}</button>
                #{backButton /}
            </div>
        </div>
    </form>
</fieldset>

<script type="text/javascript">
	$(function() {
		#{list items:knowledge.tags, as:'tag'}
			var tag = {
				id: ${tag.id},
				name: '${tag.name}',
				description: '${tag.description}'
			};
			
			buildTag(tag);
		#{/list}
	});
</script>