#{extends 'main.html' /}
#{set title:messages.get('title.knowledge.show') /}

%{
    Long userId = (session.get('user.id')) ? Long.parseLong(session.get('user.id')) : null;
}%

<fieldset>
    <legend>&{'title.knowledge.show'}</legend>

    <div class="knowledge span7 offset1">
        <div class="actions pull-right">
            #{if knowledge.user.id == userId}
                <a class="btn btn-primary" href="@{KnowledgeController.editKnowledge(knowledge.id)}">&{'button.edit'}</a>
                <a id="remove" class="btn btn-danger" href="@{KnowledgeController.removeKnowledge(knowledge.id)}">&{'button.delete'}</a>
            #{/if}
            #{backButton /}
        </div>

        <div class="title">${knowledge.title}</div>
        <div class="subtitle">
            <span class="info">&{'knowledge.subtitle.info', knowledge.user.username, knowledge.createdDate.format()}</span>
            <span id="tags"></span>
        </div>

        <div id="selectedTags" style="display: none;">
            #{list items:knowledge.tags, as:'tag'}
                <span class="selectedTag" data-tag-id="&{tag.id}">${tag.name}</span>
            #{/list}
        </div>

        <div class="description well">${knowledge.description.raw().nl2br()}</div>

        <div class="comments">
            #{list items:comments, as:'comment'}
                #{comment userId:userId, knowledge:knowledge, comment:comment  /}
            #{/list}
        </div>

        #{if userId}
            <div class="publication">
                <form action="@{CommentController.saveComment()}" method="POST">
                    <input name="knowledgeId" type="hidden" value="${knowledge.id}">
                    <input name="userId" type="hidden" value="${userId}">

                    <div class="control-group #{ifError 'content'} error#{/ifError}">
                        <textarea class="span7" name="content" placeholder="&{'knowledge.comment'}"></textarea>

                        #{ifError 'content'}
                            <div class="pull-left">
                                <span class="help-inline">#{error 'content' /}</span>
                            </div>
                        #{/ifError}

                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit">&{'button.publish'}</button>
                        </div>
                    </div>
                </form>
            </div>
        #{/if}
    </div>
</fieldset>

<script type="text/javascript">
	$(function() {
		$('#remove').click(function() {
			return confirm(messages['alert.knowledge.delete.confirm']);
		});

		$('#selectedTags .selectedTag').each(function(index, data) {
			var link = $('<a>', {
				href: '@{Application.index()}',
				text: $(data).text()
			});

			var span = $('<span>').addClass('selectedTag');
			span.append(link);

			// Append selected tag
			$('#tags').append(span);
		});
	});
</script>