#{extends 'main.html' /}
#{set title:messages.get('title.knowledge.show') /}

<fieldset>
    <legend>&{'title.knowledge.show'}</legend>

    <div class="knowledge span7 offset1">
        <span class="knowledge-user-login">@${knowledge.user.login}</span>
        <span class="knowledge-title">${knowledge.title}</span>

        <div class="knowledge-description well">${knowledge.description.raw()}</div>

        <div class="control-group">
            <div class="controls">
                #{if session.get('user.id') && knowledge.user.id == Long.parseLong(session.get('user.id'))}
                    <a class="btn btn-primary" href="@{KnowledgeController.editKnowledge(knowledge.id)}">&{'button.edit'}</a>
                #{/if}
                #{backButton /}
            </div>
        </div>
    </div>
</fieldset>