#{extends 'main.html' /}
#{set title:messages.get('title.knowledge.show') /}

%{
    Long userId = (session.get('user.id')) ? Long.parseLong(session.get('user.id')) : null;
%}

<fieldset>
    <legend>&{'title.knowledge.show'}</legend>

    <div class="knowledge span7 offset1">
        <div class="actions pull-right">
            #{if knowledge.user.id == userId}
                <a class="btn btn-primary" href="@{KnowledgeController.editKnowledge(knowledge.id)}">&{'button.edit'}</a>
            #{/if}
            #{backButton /}
        </div>

        <div class="title">${knowledge.title}</div>
        <div class="subtitle">
            <span class="info">&{'knowledge.subtitle.info', knowledge.user.username, knowledge.createdDate.format()}</span>
            <span id="tags"></span>
        </div>

        <div id="selectedTags" style="display: none;">
            #{list items:knowledge.tags, as:'tag'}
                <span class="selectedTag" data-tag-id="&{tag.id}">${tag.name}</span>
            #{/list}
        </div>

        <div class="description well">${knowledge.description.raw().nl2br()}</div>

        <div class="comments">
            #{list items:comments, as:'comment'}
                <div class="comment">
                    <div class="info">
                        <span>&{'knowledge.comment.info', comment.user.username, comment.createdDate.format()}</span>

                        <div class="actions pull-right">
                            #{if comment.user.id == userId}
                                <a class="edit" href="#" title="&{'tooltip.comment.edit'}"><i class="icon-edit"></i></a>
                                <a class="save" href="#" title="&{'tooltip.comment.save'}"><i class="icon-ok"></i></a>
                                <a class="cancel" href="#" title="&{'tooltip.comment.cancel'}"><i class="icon-cancel"></i></a>

                                <form class="updateComment pull-right" action="@{CommentController.saveComment()}" method="POST">
                                    <input name="commentId" type="hidden" value="${comment.id}">
                                    <input name="knowledgeId" type="hidden" value="${knowledge.id}">
                                    <input name="userId" type="hidden" value="${userId}">
                                    <input name="content" type="hidden">
                                </form>
                            #{/if}

                            #{if comment.user.id == userId || knowledge.user.id == userId}
                                <a class="remove" href="#" title="&{'tooltip.comment.remove'}"><i class="icon-trash"></i></a>

                                <form class="deleteComment pull-right" action="@{CommentController.deleteComment()}" method="POST">
                                    <input name="commentId" type="hidden" value="${comment.id}">
                                </form>
                            #{/if}
                        </div>
                    </div>

                    <div class="content">
                        <div class="content-div">${comment.content.raw().nl2br()}</div>
                        <textarea class="content-textarea span7">${comment.content.raw()}</textarea>
                    </div>
                </div>
            #{/list}
        </div>

        #{if userId}
            <div class="publication">
                <form action="@{CommentController.saveComment()}" method="POST">
                    <input name="knowledgeId" type="hidden" value="${knowledge.id}">
                    <input name="userId" type="hidden" value="${userId}">

                    <div class="control-group #{ifError 'content'} error#{/ifError}">
                        <textarea class="span7" name="content" placeholder="&{'knowledge.comment'}"></textarea>

                        #{ifError 'content'}
                            <div class="pull-left">
                                <span class="help-inline">#{error 'content' /}</span>
                            </div>
                        #{/ifError}

                        <div class="pull-right">
                            <button class="btn btn-primary" type="submit">&{'button.publish'}</button>
                        </div>
                    </div>
                </form>
            </div>
        #{/if}
    </div>
</fieldset>

<script type="text/javascript">
	$(function() {
		$('.comment .info .actions a').click(function() {
			var action = $(this);

			var actions = action.parent();
			var edit = actions.find('.edit');
			var save = actions.find('.save');
			var cancel = actions.find('.cancel');

			var comment = actions.parent().parent();

			var content = comment.find('.content');
			var contentDiv = comment.find('.content-div');
			var contentTextarea = content.find('.content-textarea');

			if (action.hasClass('edit')) {
				// Update comment content
				contentTextarea.show();
				contentDiv.hide();

				// Update comment actions
				edit.hide();
				save.show();
				cancel.show();
			} else if (action.hasClass('cancel')) {
				// Update comment content
				contentTextarea.hide();
				contentDiv.show();

				// Update comment actions
				edit.show();
				save.hide();
				cancel.hide();
			} else if (action.hasClass('save')) {
				actions.find('.updateComment input[name="content"]').val(contentTextarea.val());
				actions.find('.updateComment').submit();
			} else if (action.hasClass('remove')) {
				actions.find('.deleteComment').submit();
			}

			return false;
		});

		$('#selectedTags .selectedTag').each(function(index, data) {
			var link = $('<a>', {
				href: '@{Application.index()}',
				text: $(data).text()
			});

			var span = $('<span>').addClass('selectedTag');
			span.append(link);

			// Append selected tag
			$('#tags').append(span);
		});
	});
</script>