#{extends 'main.html' /}
#{set title:messages.get('title.user.account.edit') /}

<fieldset>
    <legend>&{'title.user.account.edit'}</legend>

    <form class="form-horizontal" action="@{UserController.saveAccount()}" method="POST">
        <input name="returnUrl" type="hidden" value="${returnUrl}">
        <input name="userId" type="hidden" value="${user.id}">

        <div class="control-group#{ifError 'email'} error#{/ifError}">
            <label class="control-label required" for="email">&{'user.email'}</label>
            <div class="controls">
                <input id="email" name="email" type="text" value="${user.email}" placeholder="&{'user.email'}">
                #{ifError 'email'}
                    <span class="help-inline">#{error 'email' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'username'} error#{/ifError}">
            <label class="control-label required" for="username">&{'user.username'}</label>
            <div class="controls">
                <input id="username" name="username" type="text" value="${user.username}" placeholder="&{'user.username'}">
                #{ifError 'username'}
                    <span class="help-inline">#{error 'username' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'passwordOld'} error#{/ifError}">
            <label class="control-label required" for="passwordOld">&{'user.password.old'}</label>
            <div class="controls">
                <input id="passwordOld" name="passwordOld" type="password" placeholder="&{'user.password.old'}">
                #{ifError 'passwordOld'}
                    <span class="help-inline">#{error 'passwordOld' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'passwordNew'} error#{/ifError}">
            <label class="control-label required" for="passwordNew">&{'user.password.new'}</label>
            <div class="controls">
                <input id="passwordNew" name="passwordNew" type="password" placeholder="&{'user.password.new'}">
                #{ifError 'passwordNew'}
                    <span class="help-inline">#{error 'passwordNew' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'passwordRetype'} error#{/ifError}">
            <label class="control-label required" for="passwordRetype">&{'user.password.retype'}</label>
            <div class="controls">
                <input id="passwordRetype" name="passwordRetype" type="password" placeholder="&{'user.password.retype'}">
                #{ifError 'passwordRetype'}
                    <span class="help-inline">#{error 'passwordRetype' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">&{'button.save'}</button>
                #{backButton /}
            </div>
        </div>
    </form>
</fieldset>