#{extends 'main.html' /}
#{set title:messages.get('title.user.sign.up') /}

<fieldset>
    <legend>&{'title.user.sign.up'}</legend>

    <form class="form-horizontal" action="@{UserController.saveUser()}" method="POST">
        <input name="returnUrl" type="hidden" value="${returnUrl}">

        <div class="control-group#{ifError 'email'} error#{/ifError}">
            <label class="control-label required" for="email">&{'user.email'}</label>
            <div class="controls">
                <input id="email" name="email" type="text" value="${flash.email}" placeholder="&{'user.email'}">
                #{ifError 'email'}
                    <span class="help-inline">#{error 'email' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'username'} error#{/ifError}">
            <label class="control-label required" for="username">&{'user.username'}</label>
            <div class="controls">
                <input id="username" name="username" type="text" value="${flash.username}" placeholder="&{'user.username'}">
                #{ifError 'username'}
                    <span class="help-inline">#{error 'username' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group#{ifError 'password'} error#{/ifError}">
            <label class="control-label required" for="password">&{'user.password'}</label>
            <div class="controls">
                <input id="password" name="password" type="password" value="${flash.password}" placeholder="&{'user.password'}">
                #{ifError 'password'}
                    <span class="help-inline">#{error 'password' /}</span>
                #{/ifError}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">&{'button.create'}</button>
                #{backButton /}
            </div>
        </div>
    </form>
</fieldset>