/* Fix for fieldset legend */
fieldset {
    padding-top: 20px;
}

/* Text areas */
textarea[name="description"] {
    height: 200px;
}

textarea[name="content"] {
    height: 80px;
}

/* Navbar */
.navbar {
    margin-bottom: 20px;
}

.navbar .locales li {
    float: left;
}

.navbar .locales li a {
    padding: 10px 5px;
}

.navbar .user-dropdown-menu {
    min-width: 0;
}

.navbar .user-dropdown-menu .btn {
    float: right;
    margin-right: 5px;
}

/* Flag icons */
[class^="flag-"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    vertical-align: text-top;
    width: 22px;
}

.flag-fr {
    background-image: url("../images/flag-fr.png");
}

.flag-en {
    background-image: url("../images/flag-en.png");
}

/* Knowledge */
.knowledge>.actions {
    line-height: 40px;
}

.knowledge>.title {
    font-size: 2em;
    line-height: 40px;
}

.knowledge>.info {
    border-bottom: 1px solid #333333;
    color: #888888;
    font-size: 0.85em;
    padding-bottom: 5px;
}

.knowledge>.description {
    margin-top: 20px;
}

.knowledge>.comments {
    margin-top: 30px;
}

.knowledge>.comments>.comment {
    border-top: 1px solid #AAAAAA;
    margin-bottom: 20px;
}

.knowledge>.comments>.comment>.info {
    color: #888888;
    font-size: 0.8em;
}

.knowledge>.comments>.comment>.actions>.save {
    display: none;
}

.knowledge>.comments>.comment>.content {
    padding-left: 20px;
}

/* Tags */
.tags {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sadow: inser 0px 1px 1px rgba(0, 0, 0, 0.071);
    padding: 4px 6px;
}

.tags>.tag {
    border: none;
    box-shadow: none;
    padding: 0px;
}

.tags>.tag:focus {
    border: none;
    box-shadow: none;
}