/* Fix for fieldset legend */
fieldset {
    padding-top: 20px;
}

/* Text areas */
textarea {
    resize: none;
}

textarea[name="description"] {
    height: 200px;
}

textarea[name="content"] {
    height: 80px;
}

/* Icons */
.icon-cancel {
    background-position: -312px 0px;
}

/* Navbar */
.navbar {
    margin-bottom: 20px;
}

.navbar .locales li {
    float: left;
}

.navbar .locales li a {
    padding: 10px 5px;
}

.navbar .user-dropdown-menu {
    min-width: 0px;
}

.navbar .user-dropdown-menu .divider {
    margin: 1px;
}

.navbar .user-dropdown-menu .btn {
    float: right;
}

/* Flag icons */
[class^="flag-"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    vertical-align: text-top;
    width: 22px;
}

.flag-fr {
    background-image: url("../images/flag-fr.png");
}

.flag-en {
    background-image: url("../images/flag-en.png");
}

/* Knowledge */
.knowledge>.actions {
    line-height: 45px;
}

.knowledge>.title {
    font-size: 2em;
    line-height: 45px;
}

.knowledge>.subtitle {
    border-bottom: 1px solid #333333;
    color: #888888;
    font-size: 0.85em;
    padding-bottom: 15px;
}

.knowledge>.subtitle>#tags>.selectedTag {
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    color: #3E6D8E;
    margin-right: 5px;
}

.knowledge>.subtitle>#tags>.selectedTag>a {
    cursor: pointer;
}

.knowledge>.description {
    margin-top: 20px;
    margin-left: 15px;
}

.knowledge>.comments {
    margin-top: 30px;
}

.knowledge>.comments>.comment {
    border-top: 1px dotted #AAAAAA;
    margin-bottom: 10px;
    position: relative;
}

.knowledge>.comments>.comment>.info {
    color: #888888;
    font-size: 0.8em;
    margin-top: 5px;
}

.knowledge>.comments>.comment>.info>.actions>.save,.knowledge>.comments>.comment>.info>.actions>.cancel {
    display: none;
}

.knowledge>.comments>.comment>.content>.content-textarea {
    display: none;
    height: 80px;
}

.knowledge>.publication {
    border-top: 1px solid #333333;
    padding-top: 15px;
}

/* Tags */
#form #tags {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: inser 0px 1px 1px rgba(0, 0, 0, 0.071);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
    transition: border 0.2s cubic-bezier(0, 0, 1, 1) 0, box-shadow 0.2s cubic-bezier(0, 0, 1, 1) 0px;
}

#form #tags.focused {
    border: 1px solid rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#form #tags.error {
    border-color: #B94A48;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

#form #tags.error.focused {
    border-color: #953B39;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #D59392;
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #D59392;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px #D59392;
}

#form #tags>.selectedTag {
    background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    color: #3E6D8E;
    cursor: help;
    margin-right: 5px;
}

#form #tags>.selectedTag>a {
    cursor: pointer;
}

#form #tags>#tag,#tags>#tag:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
    vertical-align: text-bottom;
}

.tag>.actions {
    line-height: 45px;
}

.tag .name {
    font-size: 1.4em;
    line-height: 45px;
}

.tag .description {
    font-style: italic;
    text-indent: 4em;
    text-align: justify;
}

/* Suggestions */
#suggestions {
    background-color: white;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    position: absolute;
}

#suggestions .suggestion {
    float: left;
    margin: 5px;
    width: 200px;
}

#suggestions .suggestion:nth-child(3n+1) {
    clear: both;
}